h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: solid 2px;
    height: 600px;
    width: 600px;
    justify-content: flex-start;
}

.row {
    display: flex;
    flex: 1;
    height: 100px;
}

.pixel {
    flex: 1;
    /* border: solid 3px white; */
    height: 100 px;
    background-color: white;

}