* {
    font-family: Helvetica;
}

body{
    background-color: rgb(124, 181, 209);
}

h1 {
    text-align: center;
}

.horizcontainer{
    display: flex;
    justify-content: center;
}

button {
    background-color: black;
    color: aliceblue;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border: solid 3px;
    border-radius: 8px;
}

button:hover{
    background-color: rgb(102, 94, 83);
    ;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: solid 10px;
    height: 600px;
    width: 600px;
    justify-content: flex-start;
}

.row {
    display: flex;
    flex: 1;
    height: 100px;
}

.pixel {
    flex: 1;
    /* border: solid 3px black; */
    height: 100 px;
    background-color: #FFFFFF;

}

.slidecontainer{
    display: flex;
    width: auto;
    justify-content: center;
    padding: 25px;
    align-items: center;
    
}

.slider{
    appearance: none; 
    background-color: white;
    width: 400px;
    border: solid 3px; 
    margin-right: 10px;
}

.vertcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dimensions {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 40px;
}

.label {
    font-size: 23px;
}